@font-face {
  font-family: Adam;
  src: url("../img/Tipografia/Adam-Medium.ttf");
}

@font-face {
  font-family: Adam-Light;
  src: url("../img/Tipografia/Adam-Light.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Adam";
}

body {
  font-family: "Adam";
}

input {
  border: none;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  text-decoration: underline;
}

textarea {
  resize: none !important;
  border: none;
}

input:focus,
textarea:focus {
  outline: none;
}

button {
  background-color: var(--color-button);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

p {
  font-size: var(--font-size-normal);
}

p span {
  color: #bda61c;
  font-weight: 700;
  font-size: 22px;
}

:root {
  --color-background: #fff;
  --color-titulo: #202020;
  --color-background-1: #fff;
  --color-background-2: #f2f2f2;
  --color-about-num-background: #bda61c;
  --color-about-num: #fff;
  --color-portafolio-hover-p: #202020;
  --color-portafolio-hover-background: rgba(189, 166, 28, 0.7);
  --color-card-background: #1b1b1b
  /* linear-gradient(to right, #503959, #8c7488) */;
  --color-card-h4: #fff;
  --color-formulario-span: #fff;
  --header: url(../img/Logos/Banner-Huella.jpg);
  /* --header2: -webkit-linear-gradient(
      to right,
      rgba(80, 57, 89, 0.8),
      rgba(189, 166, 28, 0.2)
    ),
    url(../img/Logos/Banner-Huella.jpg); */
  --color-button: #bda61c;
  --header-scroll: #202020
  /* linear-gradient(90deg, rgba(80, 57, 89, 1) 0%, rgba(189, 166, 28, 1) 100%) */;
  --font-size-normal: 17px;
  --font-size-hover: 30px;
  --font-size-card: 20px;
}