/* Header */

header {
    width: 100%;
    height: 40vw;
    /* background: #bda61c; */
    /* background: var(--header2); */
    background: var(--header);
    background-size: cover;
    background-position: center;
    position: relative;
}


header .nav-header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 50px;
    text-align: right;
    z-index: 99;
}

header .logo{
    width: 175px;
    margin-left: 15px;
    display: none;
}

header .logo-active {
    display: block;
}

header .header-white {
    background: var(--header-scroll) !important;
}

header .header-white .aHeader-active{
    color: #fff;
}

header .nav-header{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding-right: 15px;
}

.nav-header a {
    color: #000;
    margin-right: 10px;
    font-size: 17px;
}

a:hover {
    text-decoration: underline;
}

header .textos-header {
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1 {
    display: none;
    font-size: 150px;
    color: #fff;
    font-weight: 100;
    font-family: "Adam-Light";
}

.textos-header h2 {
    display: none;
    font-size: 25px;
    color: #fff;
}

header .toggle{
    display: none;
}

.wave {
    width: 100%;
    background: linear-gradient(90deg, rgba(80, 57, 89, 1) 0%, rgba(189, 166, 28, 1) 100%);;
}

@media (max-width: 425px) {
    header .nav-header {
        text-align: center;
    }

    header .nav-header>a {
        margin-right: 5px;
    }

    .textos-header h1 {
        font-size: 35px;
    }

    .textos-header h2 {
        font-size: 20px;
    }
    header .logo{
        display: none;
    }
}

@media (max-width: 769px) {
    header {
        background-position: center;
        height: 55vw;

    }
    header .nav-header {
        padding: 0;
        display: none;
    }

    header .nav-header div{
        display: flex;
        height: 100vh;
        flex-direction: column;
        justify-content: space-evenly;
    }

    header .nav-header div a{
        color: #fff;
        font-size: 27px;
        font-weight: 700;
    }
    header .toggle{
        display: block;
        margin: 15px 0 0 15px;
    }
    header .toggle .i-toggle{
        font-size: 25px;
        position: fixed;
        color: #000;
        z-index: 99;
    }
    header .toggle .i-active{
        color: #fff;
    }
    header .show-menu {
        display: block;
        height: 100vh;
        background: linear-gradient(90deg, rgba(80, 57, 89, 1) 0%, rgba(189, 166, 28, 1) 100%);
    }
}